/* style main*/
 a {text-decoration: none;}
@font-face {
    font-family: 'beb'; /*a name to be used later*/
    src: url('resources/BebasNeue.otf') format('opentype'); /*URL to font*/
}
@font-face {
    font-family: 'opensans'; /*a name to be used later*/
    src: url('resources/OpenSans-Regular.ttf') format('truetype');/*URL to font*/
}
body{
   /*background-image: url("bg.png"); */
}
.file{
    margin-left: 44%;
    margin-top:0px;
    margin-bottom:0px;
}
img{
    width:50%;
    margin-right:auto;
    margin-left:auto ;
}
.info {
    font-family: 'opensans';
    font-size: 16px;
    display: block;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.info input{
    font-family: 'Ariel';
    text-align: center;
}

.info textarea{
    font-family: 'Ariel';
}

.inline{
    display:flex;
}
.head {
    font-family:'beb';
    font-size:50px;
    text-align: center;
}

.unselected{
    border-color:rgba(255,0,0,0.7);
}